In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
raw_data = pd.read_csv(r'E:\Nextstep\Scaler\Business-Case-Study\Aerofit\Dataset\aerofit_treadmill.csv')
#raw_data = pd.read_csv(r'F:\Muthu_2023\Personal\NextStep\DSCourse\Scaler\Business-Case-Study\Aerofit\Dataset\aerofit_treadmill.csv')

In [ ]:
raw_data.head()

In [ ]:
raw_data.info()

**Inference:**
- `No null values in all the columns`
- `3 categorical and 5 numerical columns`

In [ ]:
raw_data.describe()

**Inference:**
- `25% of users in the age range of 24 to 26`
- `Education, Usage and fitness seems to be integer and it requires detailed analysis`
- ``

In [ ]:
raw_data.describe(include='object')

# Exploratory Data Analysis

In [ ]:
plt.rcParams['figure.figsize'] = (12,6)

## UVA on Categorical column

In [ ]:
def plot_count(df, col):
    plt.suptitle('Sales Quantity by ' + col)
    plt.subplot(1,2,1)
    sns.countplot(data = df, x = col)
    plt.subplot(1,2,2)
    plt.pie(df[col].value_counts(), labels = list(df[col].value_counts().index), autopct = '%0.1f%%')

In [ ]:
plot_count(raw_data, 'Product')

**Inference:**
- `KP281 has highest market share among other products`

In [ ]:
plot_count(raw_data, 'Gender')

**Inference:**
- `Purchase of male customer is the most`

In [ ]:
plot_count(raw_data, 'MaritalStatus')

**Inference:**
- `Partnered makes the most purchase than single`

In [ ]:
plot_count(raw_data, 'Usage')

**Inferece:**
- `Users purchased the most who uses the treadmill 3-4 days a week`
- `80% of users uses the treadmill 2-4 days a week`

In [ ]:
plot_count(raw_data, 'Fitness')

**Inference:**
- `Average rated users are the most in purchasing the treadmill`

In [ ]:
plot_count(raw_data, 'Education')

**Inference:**
- `Users with 14 and 16 years of education purchases the most`
- `Need further investigation on this part how it relates to the purchase of treadmill`

## UVA on Numerical columns

In [ ]:
def plot_hist(df, col):
    plt.suptitle('Sales Quantity by ' + col)
    plt.subplot(1,2,1)
    sns.histplot(data = df, x = col)
    plt.subplot(1,2,2)
    sns.boxplot(data = df, y = col)
    plt.show()

In [ ]:
plot_hist(raw_data, 'Age')

**Inference:**
- `Predominant of the purchase is peformed by 20 to 35 age groups`

In [ ]:
plot_hist(raw_data, 'Income')

**Inference:**
- `75% of the purchases are performed by users with income lesser than 60`

In [ ]:
plot_hist(raw_data, 'Miles')

**Inference:**
- `Users who runs 50-100 miles are the most who shown the interest in purchasing the treadmill`

# Bivariate Analysis

In [ ]:
plt.figure(figsize=(12, 16))
plt.subplot(3,2,1)
sns.countplot(data = raw_data, hue = 'Product', x='Gender')
plt.subplot(3,2,2)
sns.countplot(data = raw_data, hue = 'Product', x='MaritalStatus')
plt.subplot(3,2,3)
sns.countplot(data = raw_data, hue = 'Product', x='Usage')
plt.subplot(3,2,4)
sns.countplot(data = raw_data, hue = 'Product', x='Fitness')
plt.subplot(3,1,3)
sns.countplot(data = raw_data, hue = 'Product', x='Education')

**Inference:**
- ***Product vs Gender:*** `Female show very less interest in buying the product KP781`
- ***Product vs Martial Status:*** `Partnered users are highly interested in buying treadmill`
- ***Product vs Usage:*** `Users with high usage are more prone to buy KP781 and less usage prefers other 2 products`
- ***Product vs Fitness:*** `Medium fitness users (2-4) are much interested in buying treadmill predominantly and only High fitness users prefer KP781`
- ***Product vs Education:*** `Higher education group prefers product KP781`

In [ ]:
plt.figure(figsize=(12, 6))
plt.subplot(1,3,1)
sns.boxplot(data = raw_data, x = 'Product', y='Age')
plt.subplot(1,3,2)
sns.boxplot(data = raw_data, x = 'Product', y='Income')
plt.subplot(1,3,3)
sns.boxplot(data = raw_data, x = 'Product', y='Miles')
# plt.subplot(3,2,4)
# sns.countplot(data = raw_data, hue = 'Product', x='Fitness')
# plt.subplot(3,1,3)
# sns.countplot(data = raw_data, hue = 'Product', x='Education')
plt.tight_layout()

**Inference:**
- ***Age vs Product:*** `Predominant of the users of KP781 are in 20s age group`
- ***Income vs Product:*** `Purchase of KP781 is dominated by higher income users. Hence it seems that KP781 is on costlier side.
KP481 is in the medium range and KP 281 is on the lower side`
- ***Miles vs Product:*** `Purchase of KP781 is dominated by higher miles users and it seems that it is preferred by heavy workout users`

# Multivariate Analysis

In [ ]:
sns.boxplot(data=raw_data, y = 'Age', x = 'Gender', hue='Product')

**Inference:**
- `Median age of male interested in KP481 is lesser than other 2 products whereas it is vice versa for female users`

In [ ]:
sns.boxplot(data=raw_data, y = 'Income', x = 'Gender', hue='Product')

In [ ]:
sns.boxplot(data=raw_data, y = 'Miles', x = 'Gender', hue='Product')

In [ ]:
sns.boxplot(data=raw_data, y = 'Age', x = 'MaritalStatus', hue='Product')

In [ ]:
sns.boxplot(data=raw_data, y = 'Age', x = 'Usage', hue='Product')

**Inference:**
- `High usage `

In [ ]:
sns.boxplot(data=raw_data, y = 'Income', x = 'Product', hue='Fitness')

In [ ]:
sns.jointplot(data=raw_data, x = 'Income',  y='Age', hue = 'Product')

In [5]:
temp_df = pd.crosstab(raw_data['Product'], columns = raw_data['Usage'], margins=True, normalize=True)

In [11]:
pd.crosstab(raw_data['Product'], columns = raw_data['Gender'], margins=True, normalize=True)

Gender     Female      Male       All
Product
KP281    0.222222  0.222222  0.444444
KP481    0.161111  0.172222  0.333333
KP781    0.038889  0.183333  0.222222
All      0.422222  0.577778  1.000000

**Inference:**
- `Probability of buying product KP281 given female is 0.22`
- `Probability of buying a treadmill given male is 0.577`

In [13]:
pd.crosstab(raw_data['Product'], columns = raw_data['Usage'], margins=True, normalize=True)

Usage           2         3         4         5         6         7       All
Product
KP281    0.105556  0.205556  0.122222  0.011111  0.000000  0.000000  0.444444
KP481    0.077778  0.172222  0.066667  0.016667  0.000000  0.000000  0.333333
KP781    0.000000  0.005556  0.100000  0.066667  0.038889  0.011111  0.222222
All      0.183333  0.383333  0.288889  0.094444  0.038889  0.011111  1.000000