# Approach
- Basic Data Analysis
- Exploratory Data Analysis
    - Univariate, Bivariate, Multivariate Analysis
    - Target vs Features
- Data Preprocessing
- Statistical Tests
    - Chisquare, Anova Test
- Modeling
- Assumptions of Linear Regression

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats

# from sklearn.decomposition import PCA
# from sklearn.preprocessing import StandardScaler, OneHotEncoder, RobustScaler
# from sklearn.model_selection import train_test_split, RandomizedSearchCV
# from sklearn.linear_model import LogisticRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
# from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, classification_report, roc_curve, precision_recall_curve, auc

# from xgboost import XGBClassifier
bold_start = '\033[1m'
bold_end = '\033[0m'

In [2]:
raw_data = pd.read_csv(r"F:\Muthu_2023\Personal\NextStep\DSCourse\Scaler\Business-Case-Study\Scaler\Dataset\scaler_clustering.csv")
raw_data.head()

,Unnamed: 0,company_hash,email_hash,orgyear,ctc,job_position,ctc_updated_year
0,0,atrgxnnt xzaxv,6de0a4417d18ab14334c3f43397fc13b30c35149d70c05...,2016.0,1100000,Other,2020.0
1,1,qtrxvzwt xzegwgbb rxbxnta,b0aaf1ac138b53cb6e039ba2c3d6604a250d02d5145c10...,2018.0,449999,FullStack Engineer,2019.0
2,2,ojzwnvwnxw vx,4860c670bcd48fb96c02a4b0ae3608ae6fdd98176112e9...,2015.0,2000000,Backend Engineer,2020.0
3,3,ngpgutaxv,effdede7a2e7c2af664c8a31d9346385016128d66bbc58...,2017.0,700000,Backend Engineer,2019.0
4,4,qxen sqghu,6ff54e709262f55cb999a1c1db8436cb2055d8f79ab520...,2017.0,1400000,FullStack Engineer,2019.0

# Data Analysis

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205843 entries, 0 to 205842
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        205843 non-null  int64
 1   company_hash      205799 non-null  object
 2   email_hash        205843 non-null  object
 3   orgyear           205757 non-null  float64
 4   ctc               205843 non-null  int64
 5   job_position      153281 non-null  object
 6   ctc_updated_year  205843 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 11.0+ MB

In [5]:
raw_data.describe()

          Unnamed: 0        orgyear           ctc  ctc_updated_year
count  205843.000000  205757.000000  2.058430e+05     205843.000000
mean   103273.941786    2014.882750  2.271685e+06       2019.628231
std     59741.306484      63.571115  1.180091e+07          1.325104
min         0.000000       0.000000  2.000000e+00       2015.000000
25%     51518.500000    2013.000000  5.300000e+05       2019.000000
50%    103151.000000    2016.000000  9.500000e+05       2020.000000
75%    154992.500000    2018.000000  1.700000e+06       2021.000000
max    206922.000000   20165.000000  1.000150e+09       2021.000000

In [6]:
raw_data.describe(include='object')

,company_hash,email_hash,job_position
count,205799,205843,153281
unique,37299,153443,1017
top,nvnv wgzohrnvzwj otqcxwto,bbace3cc586400bbc65765bc6a16b77d8913836cfc98b7...,Backend Engineer
freq,8337,10,43554

## Unique Values

In [7]:
raw_data.nunique()

Unnamed: 0          205843
company_hash         37299
email_hash          153443
orgyear                 77
ctc                   3360
job_position          1017
ctc_updated_year         7
dtype: int64

## Null Values

In [12]:
print(bold_start + "Percentage of Null values by columns" + bold_end)
(raw_data.isnull().sum()/len(raw_data))*100

Percentage of Null values by columns

Unnamed: 0           0.000000
company_hash         0.021376
email_hash           0.000000
orgyear              0.041779
ctc                  0.000000
job_position        25.534995
ctc_updated_year     0.000000
dtype: float64

#### Inference:
- Dimensionally small dataset
- Personal details are given as hash values
- Some errors in org year column, as the min value is 0 and no. of unique values is 77

## Transform Hash

In [13]:
df = raw_data.copy()

In [17]:
company_hash_dict = dict(zip(df['company_hash'].unique(), np.arange(df['company_hash'].nunique())))
df['company_hash'] = df['company_hash'].map(company_hash_dict)

In [22]:
email_hash_dict = dict(zip(df['email_hash'].unique(), np.arange(df['email_hash'].nunique())))
df['email_hash'] = df['email_hash'].map(email_hash_dict)

## Remove Unnamed column

In [24]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.head()

# Exploratory Data Analysis
- Univariate Analysis
    - Categorical: *Frequency and Proportion Plots*
    - Numerical: *Distribution and Box plots*
    - *Skewness and Kurtosis*
- Bivariate Analysis
- Multivariate Analysis

In [25]:
cat_features = list(df.columns).remove('ctc')
num_features = ['ctc']

In [ ]:
def univariate_categoryplot(df, feature):
    plt.figure(figsize=(12,4))   
    if df[feature].nunique() < 10:
        # Categorical Feature 
        plt.suptitle('Univariate Analysis of ' + feature + ": Frequency and Proportion")
        plt.subplot(1,2,1)
        sns.countplot(data=df, x=feature) 
        plt.subplot(1,2,2)
        labels = df[feature].value_counts().index
        plt.pie(x=list(df[feature].value_counts()), labels=list(labels), autopct="%0.2f")        
        plt.show()
    else:
        # Numerical Feature
        temp = df[feature].value_counts()[:10]
        plt.suptitle('Univariate Analysis of ' + feature + ": Frequency and Proportion")
        plt.subplot(1,2,1)
        sns.countplot(data=df, x=feature) 
        plt.subplot(1,2,2)
        labels = df[feature].value_counts().index
        plt.pie(x=list(df[feature].value_counts()), labels=list(labels), autopct="%0.2f")        
        plt.show()

## Orgyear

In [42]:
np.set_printoptions(suppress=True)
print(df['orgyear'].unique())

[ 2016.  2018.  2015.  2017.  2019.  2020.  2012.  2013.  2003.  2006.
  2014.  2011.  2021.  2008.  2004.  2022.  2009.  2005.  2010.  2007.
  2000.  2002.  2023.  2001.  1981.  2031.    nan  2024.  1996.  1999.
  2106.  1997.  1994.  1995.  1992.  1973.  1991.  1998.  1990.  1993.
  1988.  2025.  2029.     0.   208.  1985.   209.   206.  1982.  2026.
  1970.  2101.  1972.  2107.  1986.  1989.    91.  1987.     3.  2027.
     2.  1976.     4.     5.  1971.  1977.  1984.    83.     1.  1979.
  2028.  2204.    38.  1900.   201.     6. 20165.   200.]

In [40]:
df['orgyear'] = pd.to_datetime(df['orgyear'].apply(lambda x: x if x < 2025 and x>1900 else np.nan), format='%Y').dt.year

173

#### Inference:
- Many typo errors in the year column such as 0, 1, 2, 209, 91 etc.,
- Transformed such typo errors into nan values
- Later all nan values will be imputed

## CTC Updated Year

In [43]:
np.set_printoptions(suppress=True)
print(df['ctc_updated_year'].unique())

[2020. 2019. 2021. 2017. 2016. 2015. 2018.]

In [40]:
df['orgyear'] = pd.to_datetime(df['orgyear'].apply(lambda x: x if x < 2025 and x>1900 else np.nan), format='%Y').dt.year

173

#### Inference:
- Many typo errors in the year column such as 0, 1, 2, 209, 91 etc.,
- Transformed such typo errors into nan values
- Later all nan values will be imputed

In [45]:
sorted(df['job_position'].unique())

TypeError: '<' not supported between instances of 'float' and 'str'

In [49]:
sorted(df['job_position'].dropna().unique())

[' SDE 2',
 '.',
 '..',
 '.7',
 '7',
 '7033771951',
 '737',
 '857628',
 '896651',
 '91',
 'A Group Chat Application',
 'ABAP Developer',
 'ASE',
 'ASSISTANT ENGINEER TRAINEE',
 'ASSISTANT PROFESSOR ',
 'ASSISTANT SYSTEM ENGINEER',
 'ATM Interface System',
 'Account',
 'Administrative clerk',
 'Administrator',
 'Advisor',
 'Advisory Consultant - UI/UX Expert',
 'Advisory Software Engineer',
 'Advisory System Analyat',
 'Agency collection manager',
 'Ai engineer',
 'Analyst / Software Engineer',
 'Analyst consultant',
 'Analyst programmer',
 'Analytics and Insite Devloper',
 'Android Application Developer',
 'Android Application developer',
 'Android Developer Sr Executive',
 'Android Engineer',
 'Android Facilitator',
 'Android Lead',
 'Any technical',
 'App Developer',
 'Application Developer (Frontend)',
 'Application Developer 1',
 'Application Developer 2',
 'Application Developer Analyst',
 'Application Development Analyst',
 'Application Development Associate',
 'Application Development Senior Analyst',
 'Application DevelopmentAassociate',
 'Application Engineer',
 'Application Engineer II',
 'Application developer analyst',
 'Application development',
 'Application development analyst',
 'Application development senior analyst',
 'Applications Engineer',
 'Applications Engineer 2',
 'Applied Scientist',
 'Applied Scientist II',
 'Architect team lead',
 'Area Business manager',
 'Area Operations Manager',
 'Asp.Net developer',
 'Asset Management Coordinator',
 'Assisatnt System Engineer',
 'Assistant',
 'Assistant Engineer',
 'Assistant Manager',
 'Assistant Professor',
 'Assistant System Engineer',
 'Assistant System Engineer - Trainee',
 'Assistant System Engineer Trainee',
 'Assistant manager',
 'Assistant manager @ capital market ',
 'Assistant professor',
 'Assistant regional Sales manager',
 'Assistant software Engineer ',
 'Assistant system engineer',
 'Assistant system engineer ',
 'Assistant system enginner',
 'Associate',
 'Associate  software  engineer ',
 'Associate Analyst',
 'Associate Application Developer',
 'Associate Application Engineer',
 'Associate Applications Developer',
 'Associate Coder',
 'Associate Consultant',
 'Associate Data Engineer',
 'Associate Data Scientist',
 'Associate Developer',
 'Associate Director, Online Products',
 'Associate Engineer',
 'Associate IT Engineer',
 'Associate Interactive Developer L2',
 'Associate L1',
 'Associate Principal Engineer',
 'Associate Processor',
 'Associate Product Lead',
 'Associate Product Manager',
 'Associate Professional Developer',
 'Associate Professor ',
 'Associate Project Manager ',
 'Associate Software Developer',
 'Associate Software Engineer',
 'Associate Software developer',
 'Associate System Engineer',
 'Associate System Engineer - Trainee',
 'Associate System Engineer-Trainee',
 'Associate Tech Lead',
 'Associate Technical Engineer ',
 'Associate Technical Lead',
 'Associate Technology',
 'Associate consultant',
 'Associate consultant - Developer',
 'Associate manager',
 'Associate professional',
 'Associate software Engineer',
 'Associate software engineer',
 'Associate system engineer ',
 'Associate technical support',
 'Associate- Futures Engineering Team',
 'Assosiate Product Manager',
 'Assosiate software engineer',
 'Asst. Manager',
 'Audit Manager',
 'Auditing',
 'Auditor',
 'Automation Architect',
 'Automation Developer',
 'Automation Engineer',
 'Automation Expert',
 'Automation Test Engineer',
 'Automation Test Enginner',
 'Automation developer',
 'Automation engineer ',
 'Azure data Factory',
 'BA',
 'BDA',
 'BDM',
 'BTA',
 'Back office executive Admin',
 'Backend Architect',
 'Backend Engineer',
 'Backend Engineering',
 'Basis administrator',
 'Bengaluru',
 'Big data Developer',
 'Branch Manager',
 'Branch manager',
 'Business Analyst / Product Owner',
 'Business Analyst Lead',
 'Business Development',
 'Business Man',
 'Business System Analyst',
 'Business Technology Analyst',
 'Business analysts ',
 'Business analytics ',
 'Business consultant ',
 'Business development executive',
 'Business development manager',
 'Business operations new associate',
 'Business process lead',
 'CRC',
 'CTO',
 'CTO and Co Founder',
 'Calculator',
 "Can't reveal",
 'Cashier',
 'Catagory manager',
 'Chief People Officer',
 'Chief Technology Officer',
 'City Transport Lead',
 'Clerk',
 'Cloud ',
 'Cloud Data architect',
 'Cloud Engineer',
 'Cloud Security Analyst',
 'Cloud Software Engineer ',
 'Cloud Support Associate',
 'Co founder/CTO',
 'Co-Founder',
 'Co-founder',
 'Co-founderg',
 'Compliance auditor',
 'Compliance operation ',
 'Computer Faculty',
 'Computer Scientist 1',
 'Computer Scientist 2',
 'Consultant',
 'Consultant ',
 'Consultant Development',
 'Content Manager Intern',
 'Coo',
 'Core Engineer Software Developer',
 'Core Tech Engineer / Researcher',
 'Credit Risk ',
 'Credit risk manager',
 'Customer Service Executive',
 'Customer Support specialist',
 'Customer service executive',
 'Cyber Security Engineer',
 'DATA ASSOCIATE',
 'DEVELOPER ASOCIATE',
 'Data Analyst',
 'Data Eingineer',
 'Data Engineer',
 'Data Engineer 2',
 'Data Engineer III',
 'Data Operations Manager',
 'Data Science Analyst',
 'Data Scientist',
 'Data Scientist 2',
 'Data Scientist II',
 'Data Specialist',
 'Data Visualization Engineer',
 'Data Warehouse Developer',
 'Data analayst',
 'Data entry',
 'Data/Product Engineer',
 'Database Administrator',
 'Database developer',
 'Delivery Project Lead',
 'Deputy Manager',
 'Deputy general manager',
 'Design Engineer',
 'Design specialist',
 'DevOps/Cloud Engineer',
 'Developer & Production Support',
 'Developer 2',
 'Developer Associate',
 'Devlopment Engineer',
 'Devops Engineer',
 'Digital Content Associate',
 'Digital Marketing',
 'Digital marketing manager ',
 'Director Engineering',
 'Dot NET developer',
 'Driver',
 'ENO',
 'ERP Application Developer',
 'ERP Associate',
 'ERP Consultant',
 'ETL Developer',
 'Edp Admin',
 'Electric power supply',
 'Electrical technician',
 'Embedded Software Development Engineer',
 'Embedded Software Engineer',
 'Engeneering Lead',
 'Engineer',
 'Engineer 1',
 'Engineer 2',
 'Engineer I',
 'Engineer trainee',
 'Engineering Intern',
 'Engineering Intern ',
 'Engineering Lead - AI',
 'Engineering Leadership',
 'Engineering Manager II',
 'Engineering Program Manager',
 'Engineering Team Lead',
 'Engineet',
 'Entrepreneurship ',
 'Escalation Engineer',
 'Exchange Coordinator',
 'Executive Operation ',
 'Executive Software Developer',
 'F&b service',
 'Farmer',
 'Fibre Engineer',
 'Finance Lead',
 'Finance and Accounting ',
 'Financial analyst',
 'Firmware Engineer ',
 'Firmware engineer ',
 'Firmware software engineer l',
 'Flutter App Engineer',
 'Forex',
 "Founders' Office",
 'Freelance SDE',
 'Freelancer',
 'Fresher',
 'Fresher student',
 'Front End Dev',
 'Front End Developer',
 'Front end developer',
 'Front end developer ',
 'Front end web developer',
 'Front-End Developer',
 'Frontend Engineer',
 'Full Stack Developer Intern',
 'Full Stack Engineer',
 'Full stack web developer',
 'Full-stack web developer',
 'FullStack Engineer',
 'Fullstack Engineer',
 'Fusion Applications Engineer',
 'Graduate Intern',
 'Graduate Programmer',
 'Graduate Research Assistant',
 'Graduate Software Developer',
 'Graduate engineer  trainee',
 'Graduate engineer trainee',
 'Graphic designer',
 'Growth',
 'Growth Manager',
 'H',
 'HOD',
 'HVAC Algorithm developer',
 'Hardware engineer',
 'Head Scientist',
 'Head of Analytics',
 'Head of Engineering',
 'Human resource',
 'IT Engineer',
 'IT analyst',
 'IT coordinator',
 'IT mManager',
 'IaaS  Engineer',
 'Implementation engineer',
 'Info Technology Sr. Associate',
 'Instructional Apprentice',
 'Instructor',
 'Insurance agent ',
 'Integration',
 'Integration Developer ',
 'Integration Engineer',
 'Intern',
 'Intern - Software developer',
 'Intern Developer',
 'Intern-data analyst',
 'International Coding Instructor',
 'Internship',
 'IoT Consultant',
 'It executive',
 'It trainee',
 'Java Back End Developer',
 'Java Software Engineer',
 'Java devloper',
 'Java microservices developer',
 'Jharkhand',
 'Jr. Prod Specialist',
 'Jr. Software Engineer',
 'Junior Associate, Technology',
 'Junior Front End Eng',
 'Junior Software developer',
 'Junior consultant',
 'Junior developer',
 'Junior software developer',
 'Kam',
 'Key account manager',
 'L4',
 'Lead',
 'Lead - MIS',
 'Lead Analyst',
 'Lead Android Developer',
 'Lead Consultant',
 'Lead Consultant Technology',
 'Lead Design Engineer',
 'Lead Engineer - Software Development',
 'Lead Engineer II',
 'Lead Product Engineer',
 'Lead Software Developer',
 'Lead Software Development Engineer',
 'Lead Software Engineer',
 'Lead Software Engineer in Test',
 'Lead UI Engineer',
 'Lead software Engineer',
 'Lead software engineer',
 'Learning web designing',
 'Lecturer',
 'Leisure Manager',
 'Linux System Administrator',
 'Linux administrator',
 'Loan processing',
 'Logistics supply chain',
 'MEAN Stack Developer',
 'ML Engineer',
 'MTS',
 'MTS - II',
 'MTS 3',
 'MTS Intern',
 'MTS-2',
 'MTS-3',
 'MTS2',
 'Machine Learning Data Associate ',
 'Machine Learning Developer',
 'Machine Learning Engineer',
 'Machine Learning Engineer Intern',
 'Machine Learning Intern',
 'Machine learning engineer',
 'Mainframe Developer',
 'Mainframe developer',
 'Maintenance Engineer ',
 'Management executive',
 'Manager',
 'Manager ',
 'Manager candidate',
 'Manager-CX',
 'Manual Tester',
 'Maricketing',
 'Marketing Professional ',
 'Matlab programmer',
 'Mechanical engineering ',
 'Mechanical engineers',
 'Medical field',
 'Member Of Technical Staff',
 'Member Of Technical Staff 2',
 'Member Technical',
 'Member Technical Staff',
 'Member Technical Staff -1',
 'Member Technical Staff III',
 'Member Technical Staff Zoho',
 'Member of Technical Staff',
 'Member of Technical Staff (JAVA)',
 'Member of Technical Staff (MTS)',
 'Member of Technical Staff - 2',
 'Member of Technical Staff 2',
 'Member of Technical Staff 3',
 'Member of Technical Staff 4',
 'Member of Technical Staff Level 2',
 'Member of Technical Staff at Nineleaps',
 'Member of technical staff',
 'Member technial Staff',
 'Member technical staff 2',
 'Messenger come driver',
 'Middleware Engineer',
 'Mobile Application Developer',
 'Mobile Application Engineer(Android & iOS)',
 'Module Lead',
 'Module Lead Software Engineer',
 'Mulesoft developer',
 'N',
 'NCE',
 'Na',
 'Network Administrator ',
 'Network Software Engineer',
 'Network administrator',
 'Networking',
 'New graduate',
 'No',
 'No job',
 'Non Coder',
 'None',
 'Not applicable',
 'Not employed',
 'Now iam not working, waiting for job',
 'Null',
 'Office management',
 'Online Reputation Manager',
 'Operation Executive',
 'Operation associate',
 'Operations Expert',
 'Operations Lead',
 'Operations Manager',
 'Operations Manager ',
 'Operations analyst',
 'Oracle Apps Technical Consultant',
 'Oracle DBA',
 'Oracle Lead DBA',
 'Other',
 'Other ',
 'Others',
 'Owner',
 'PA',
 'PAT',
 'PDP EXECUTIVE',
 'PGT Computer Science',
 'PMO',
 'Package IImplementation Associate',
 'Performance Engineer',
 'Personal Banker',
 'PhD. Student',
 'Platform Engineer',
 'Pop',
 'Pop engineer ',
 'Power plant engineer',
 'Power platform Developer ',
 'Pragrammer Analyst',
 'Principal Application Engineer',
 'Principal Applications Engineer',
 'Principal Engineer - 1',
 'Principal Engineer and Imaging Leader',
 'Principal Product Engineer',
 'Principal Software Engineer',
 'Principal Solution Architect',
 'Principal consultant',
 'Principle Member of Technical Staff',
 'Process Executive ',
 'Process associate',
 'Product Designer',
 'Product Develloper',
 'Product Developer',
 'Product Development Engineer',
 'Product Engineer (Backend)',
 'Product Manager',
 'Product Specialist',
 'Product development engineer',
 'Product solution Engineer',
 'Production Engineering Senior Analyst',
 'Professional ',
 'Professional Application Delivery I',
 'Professional Services Engineer',
 'Professor',
 'Program Manager',
 'Program Manager Intern',
 'Programmar analyst',
 'Programmer Analyst',
 'Programmer Analyst ',
 'Programmer Analyst 1',
 'Programmer Analyst 2',
 'Programmer Analyst Trainee',
 'Programmer analyst',
 'Project Associate',
 'Project Engineer',
 'Project Lead',
 'Project Leader',
 'Project Officer ',
 'Project Trainee',
 'Project engineer',
 'Project management profession',
 'Pune',
 'Python Devloper',
 'Q',
 'QA Engineer',
 'QA intern',
 'QA/QC Engineer',
 'QAE-Intern',
 'Quality Analyst',
 'Quality Analyst ',
 'Quality Associate',
 'Quality Assurance Manager',
 'Quality Engineer',
 'Quality Enginner',
 'Quantitative Analyst',
 'R & D Engineer-2',
 'R & D engineer',
 'R&D Engineer',
 'RD Engineer II',
 'RD Enginner II',
 'RETAIL ASSCOCIATE',
 'Radio frequency Engineer',
 'React Native developer',
 'Reasearch Engineer',
 'Recovery officer',
 'Relationship officer',
 'Release Engineer',
 'Reseach Analyst',
 'Research Assistant',
 'Research Assistant / Software Engineer',
 'Research Engineer',
 'Research Engineer 2',
 'Research Engineers',
 'Research Intern - Machine Learning',
 'Research analyst',
 'Researcher',
 'Reseller',
 'Risk Analyst',
 'Risk Investigator',
 'Risk model developer',
 'S/w Engineer 2',
 'SAP ABAP Developer',
 'SAP C4C Functional Consultant',
 'SAP CPQ Consultant',
 'SAP Technical consultant',
 'SDE - 3 ',
 'SDE - II',
 'SDE 1',
 'SDE 1 ',
 'SDE 2',
 'SDE 3',
 'SDE 4',
 'SDE II',
 'SDE Intern',
 'SDE, Lead',
 'SDE-1',
 'SDE-2',
 'SDE-3',
 'SDE-I',
 'SDE-II',
 'SDE2',
 'SDE3',
 'SDEII',
 'SDET',
 'SDET - Intern',
 'SDET 3',
 'SDET senior',
 'SDET-2',
 'SE II',
 'SE(R&D)',
 'SENIOR MANAGER',
 'SMTS',
 'SOFTWARE ENG',
 'SOFTWARE ENGINEER III',
 'SOftware Engineer I',
 'SQL, PLSQL Developer',
 'SRE',
 'Safety officer',
 'Sales',
 'Sales ',
 'Sales and collection executive ',
 'Sales manager',
 'Sales professional',
 'Salesforce Consultant',
 'Salesforce Developer',
 'Sap Abap Developer ',
 'Scientist - C',
 'Secretary',
 'Security Delivery Specialist',
 'Security Intern',
 'Security Leadership',
 'Security Researcher ',
 'Security analyst ',
 'Seleceman',
 'Self job',
 'Seller Support Associate',
 'Seller support',
 'Senior  Software Engineer',
 'Senior Administrator',
 'Senior Analyst',
 'Senior Analyst Programmer',
 'Senior Analysts',
 'Senior Android Developer',
 'Senior Application Engineer',
 'Senior Applications Engineer',
 'Senior Associate',
 'Senior Associate ',
 'Senior Associate - (Index Technology - Production Support)',
 'Senior Associate Platform L1',
 'Senior Associate Technology Level1',
 'Senior Business Analyst',
 'Senior Business Operations Analyst',
 'Senior Chat Associate',
 'Senior Consultant',
 'Senior Data Engineer',
 'Senior Data Scientist',
 'Senior Database Engineer',
 'Senior Developer',
 'Senior Development Engineer',
 'Senior Director of Engineering',
 'Senior Engineer',
 'Senior Engineer AI/ML',
 'Senior Engineer Software',
 'Senior Enginner',
 'Senior Executive',
 'Senior Front End Engineer',
 'Senior Frontend Developer',
 'Senior Frontend Engineer',
 'Senior Fusion Applications Engineer',
 'Senior Lead Analyst',
 'Senior Manager',
 'Senior Manager IT',
 'Senior Manager, Online Products',
 'Senior Member Of Technical Staff',
 'Senior Member Of Technical Staff - R&D - Machine Learning',
 'Senior Member Technical Staff',
 'Senior Member of Technical Staff',
 'Senior Mobile Applications Developer (Android/iOS)',
 'Senior Mobile Developer',
 'Senior Process Executive',
 'Senior Product Development Engineer (Senior Developer)',
 'Senior QA Engineer',
 'Senior QA Engineer III',
 'Senior Quantitative Analyst',
 'Senior Quantitative Researcher',
 'Senior Research Associate',
 'Senior SDET',
 'Senior Software  Development Engineer',
 'Senior Software Consultant',
 'Senior Software Developer',
 'Senior Software Development Enggineer',
 'Senior Software Development Engineer',
 'Senior Software Development Engineer (Backend)',
 'Senior Software Development Engineer II',
 'Senior Software Development Engineer in Test',
 'Senior Software Engineer (.Net Backend)',
 'Senior Software Engineer (Backend)',
 'Senior Software Engineer (front end)',
 'Senior Software Engineer - Infrastructure',
 'Senior Software Engineer 1',
 'Senior Software Engineer lead',
 'Senior Software Engineer, QA',
 'Senior Software Engineering',
 'Senior Software engineeer',
 'Senior Sofware Engineer',
 'Senior Solution Engineer ',
 'Senior Staff Software Engineer',
 'Senior System Engineer',
 'Senior System Engineer ',
 'Senior System Specialist',
 'Senior Systems Engineer',
 'Senior Systems Engineer ',
 'Senior Tech Architect ',
 'Senior Technical Assistant',
 'Senior Technical Specialist ',
 'Senior UI Enginner',
 'Senior Web Developer',
 'Senior Web Engineer',
 'Senior WebMethods Developer',
 'Senior administrator ',
 'Senior associate',
 'Senior consulant',
 'Senior consultant',
 'Senior data engineer',
 'Senior developer',
 'Senior devops',
 'Senior engineer',
 'Senior project engineer',
 'Senior software Test Engineer',
 'Senior software analyst',
 'Senior software developer',
 'Senior system engineer',
 'Senior systems Engineer ',
 'Senior systems engineer',
 'Senior test engineer',
 'SeniorSoftwareEngineer',
 'Server Engineer',
 'Service Delivery Specialist',
 'ServiceNow Developer',
 'Services IT Development Program Senior Associate ',
 'SharePoint Developer',
 'Shift controller',
 'Site Reliability Engineer',
 'Site Reliability Engineer ',
 'Snr Analyst Programmer/Java Developer',
 'So',
 'Soft skill Trainer at Skill India Government project',
 'Software',
 'Software  Engineer',
 'Software / web developer',
 'Software Analyst',
 'Software Associate',
 'Software Consultant',
 'Software Dev Engineer 1',
 'Software Dev. Engineer',
 'Software Developer (SDE-3)',
 'Software Developer - Android',
 'Software Developer - PL10',
 'Software Developer - iOS',
 'Software Developer 1',
 'Software Developer 2',
 'Software Developer Consultant',
 'Software Developer I',
 'Software Developer II',
 'Software Developer Intern',
 'Software Developer grade-1',
 'Software Development Analyst',
 'Software Development Consultant 1',
 'Software Development Engineer - 2',
 'Software Development Engineer - I',
 'Software Development Engineer - II',
 'Software Development Engineer - III',
 'Software Development Engineer - Intern',
 'Software Development Engineer -2 ',
 'Software Development Engineer 1',
 'Software Development Engineer 2',
 'Software Development Engineer 2 ',
 'Software Development Engineer 3',
 'Software Development Engineer III',
 'Software Development Engineer IV',
 'Software Development Engineer Intern',
 'Software Development Engineer in Test',
 'Software Development Engineer ||',
 'Software Development Engineering Intern',
 'Software Development Enginner',
 'Software Development Intern',
 'Software Development Manager',
 'Software Devloper',
 'Software Eng',
 'Software Engineer  - Programmer Analyst',
 'Software Engineer (Android)',
 'Software Engineer (Backend)',
 'Software Engineer (Full Stack)',
 'Software Engineer (Full stack)',
 'Software Engineer (Intern)',
 'Software Engineer - Frontend',
 'Software Engineer - I',
 'Software Engineer - II',
 'Software Engineer - Operations',
 'Software Engineer - Testing',
 'Software Engineer 1',
 'Software Engineer 2',
 'Software Engineer 2 (Backend)',
 'Software Engineer 2 (Full Stack)',
 'Software Engineer 3',
 'Software Engineer Android',
 'Software Engineer Android Intern',
 'Software Engineer Associate',
 'Software Engineer I',
 'Software Engineer II',
 'Software Engineer III',
 'Software Engineer IV',
 'Software Engineer Intern',
 'Software Engineer L2',
 'Software Engineer R&D',
 'Software Engineer Trainee(ML)',
 'Software Engineer in Test',
 'Software Engineer(Advanced Analytics)',
 'Software Engineer(R&D) Intern ',
 'Software Engineer, Associate',
 'Software Engineering',
 'Software Engineering - Engineer 2',
 'Software Engineering Analyst',

In [ ]:
#### Inference:
- Invalid occupation
- Case sensitive differences
- Trim the text and remove double spaces
- create categories for occupation